{% extends 'base.html' %}

{% block content %}

<div class="container">
    <div class="container" style="padding:30px;">
        <h2 style="text-align:center;">Create Project</h2>
    </div>
    <form action="/projects/" method="post">
        {% csrf_token %}
        <div class="row">
            <div class="form-group col-md-4">
                <label for="exampleInputEmail1"><b>Project Name</b></label>
                <input type="varchar" id="projectname" class="form-control" id="projectname" name="projectname"
                       aria-describedby="emailHelp">
            </div>

            <div class="form-group col-md-3">
                <label for="cname"><b>Company Name</b></label>
                <select class="form-control" id="cname" name="cname">
                    {% for cname in companies %}
                    <option value="{{cname.id}}">{{cname.company_name}}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="form-group col-md-5">
                <label for="projectlocation"><b>Project Location</b></label>
                <input type="varchar" class="form-control" id="projectlocation" name="projectlocation">
            </div>
        </div>
        <div class="row">
<!--            <div class="form-group col-md-3">-->
<!--                <label for="budget_allocated"><b>Budget Allocated In Millions</b></label>-->
<!--                <input type="decimal" id="budget_allocated" class="form-control" id="budget_allocated"-->
<!--                       name="budget_allocated">-->
<!--            </div>-->

            <div class="form-group col-md-3">
                <label for="pbudget"><b>Actual Budget In Millions</b></label>
                <input type="decimal" class="form-control" id="pbudget" name="pbudget" placeholder="Put without M">
            </div>



            <div class="form-group col-md-3">
                <!--                <div class="form-group">-->
                <label for="abovebelow"><b>Above/Below</b></label>
                <select class="form-control" id="abovebelow" name="abovebelow">
                    <option value="Above">Above</option>
                    <option value="Below">Below</option>

                </select>
            </div>

            <div class="form-group col-md-3">
                <label for="ppercent"><b>Project Percentage</b></label>
                <input type="number" class="form-control" id="ppercent" name="ppercent" placeholder="Put without %">
            </div>
            <div class="form-group col-md-3">
                <label><b>Govt Department Name</b></label>
                <input type="varchar" id="govt_department_name" class="form-control" id="govt_department_name"
                       name="govt_department_name"
                       aria-describedby="emailHelp">
            </div>

        </div>

        <div class="row">
            <div class="form-group col-md-4">
                <label for="tender_date"><b>Tender Date</b></label>
                <input type="date" class="form-control" id="tender_date" name="tender_date" placeholder="tender_date">
            </div>
            <div class="form-group col-md-4">
                <label for="work_order_date"><b>Work Order Date</b></label>
                <input type="date" class="form-control" id="work_order_date" name="work_order_date"
                       placeholder="work_order_date">
            </div>

            <div class="form-group col-md-4">
                <label for="datecreate"><b>Date</b></label>
                <input type="date" class="form-control" id="date" name="date" placeholder="date">
            </div>
<!--            <div class="form-group col-md-3">-->
<!--                <label><b>Govt Department Name</b></label>-->
<!--                <input type="varchar" id="govt_department_name" class="form-control" id="govt_department_name"-->
<!--                       name="govt_department_name"-->
<!--                       aria-describedby="emailHelp">-->
<!--            </div>-->

        </div>


        <br>
        <button type="submit" class="btn btn-primary">Add Project</button>
    </form>
</div>

<div class="container" style="padding:30px;">
    <h2 style="text-align:center;">Projects</h2>
</div>
<table class="table table-bordered table-striped">
    <thead class="thead-dark">
    <tr>
        <th>Id</th>
        <th>Project Name</th>
        <th>Company</th>
        <th>Location</th>
        <th>Budget</th>
        <th>Tender Date</th>
        <th>Work Order Date</th>
        <th>Department Name</th>
        <th>Date</th>
    </tr>
    </thead>
    <tbody>
    {% for project in projects_names %}
    <tr>
        <td>{{project.id}}</td>
        <td><a href="/projects/{{project.id}}">{{project.project_name}}</a></td>
        <td>{{project.project_company}}</td>
        <td>{{project.project_location}}</td>
        <td>{{project.budget_allocated}}</td>
        <td>{{project.tender_date}}</td>
        <td>{{project.work_order_date}}</td>
        <td>{{project.govt_department_name}}</td>
        <td>{{project.date_create}}</td>

    </tr>
    {% endfor %}
    </tbody>
</table>

{% endblock %}